@model SimpleMembershipTest.Models.ChangePropertyModel

<h3>Change password</h3>

@using ( this.Html.BeginForm( "Manage", "Account" ) ) {
    @(this.Html.AntiForgeryToken())
    @(this.Html.ValidationSummary())

    <fieldset>
        <legend>Change Password Form</legend>
        <ol>
            <li>
                @(this.Html.LabelFor( m => m.LocalPasswordModel.OldPassword ))
                @(this.Html.PasswordFor( m => m.LocalPasswordModel.OldPassword ))
            </li>
            <li>
                @(this.Html.LabelFor( m => m.LocalPasswordModel.NewPassword ))
                @(this.Html.PasswordFor( m => m.LocalPasswordModel.NewPassword ))
            </li>
            <li>
                @(this.Html.LabelFor( m => m.LocalPasswordModel.ConfirmPassword ))
                @(this.Html.PasswordFor( m => m.LocalPasswordModel.ConfirmPassword ))
            </li>
        </ol>
        <input type="submit" value="Change password" />
    </fieldset>
}