@model SimpleMembershipTest.Models.ChangePropertyModel

<h3>Change your properties.</h3>

@using ( this.Html.BeginForm( "Manage", "Account" ) ) {
    @(this.Html.AntiForgeryToken())
    @(this.Html.ValidationSummary())

    <fieldset>
        <legend>Set Password Form</legend>
        <ol>
            <li>
                @(this.Html.LabelFor( m => m.PropertyModel.Email ))
                @(this.Html.TextBoxFor( m => m.PropertyModel.Email ))
            </li>
            <li>
                @(this.Html.LabelFor( m => m.PropertyModel.Facebook ))
                @(this.Html.TextBoxFor( m => m.PropertyModel.Facebook ))
            </li>
            <li>
                @(this.Html.LabelFor( m => m.PropertyModel.Age ))
                @(this.Html.TextBoxFor( m => m.PropertyModel.Age ))
            </li>
            <li>
                @(this.Html.LabelFor( m => m.PropertyModel.Rate ))
                @(this.Html.TextBoxFor( m => m.PropertyModel.Rate ))
            </li>
            <li>
                @(this.Html.LabelFor( m => m.PropertyModel.LastName ))
                @(this.Html.TextBoxFor( m => m.PropertyModel.LastName ))
            </li>
            <li>
                @(this.Html.LabelFor( m => m.PropertyModel.FirstName ))
                @(this.Html.TextBoxFor( m => m.PropertyModel.FirstName ))
            </li>
        </ol>
        <input type="submit" value="Change Properties" />
    </fieldset>
}