@model ICollection<SimpleMembershipTest.Models.ExternalLogin>

@if ( this.Model.Count > 0 ) {
    <fieldset id="socialLoginList">
        <h3>Registered external logins click to remove</h3>
        <legend>Remove registered external logins</legend>
        <p>
            @foreach ( var externalLogin in this.Model ) {
                using ( this.Html.BeginForm( "Disassociate", "Account" ) ) {
                    @(this.Html.AntiForgeryToken())
                    @(this.Html.Hidden( "provider", externalLogin.Provider ))
                    @(this.Html.Hidden( "providerUserId", externalLogin.ProviderUserId ))
                    <button class="zocial @externalLogin.ProviderDisplayName.ToLower()" style="float: left;">
                        @externalLogin.ProviderDisplayName
                    </button>
                }
            }
        </p>
    </fieldset>
}