@model SimpleMembershipTest.Models.ChangePropertyModel
@{
    this.ViewBag.Title = "Manage Account";
}

<hgroup class="title">
    <h1>@(this.ViewBag.Title).</h1>
</hgroup>

<p class="message-success">@(this.ViewBag.StatusMessage)</p>

<p>You're logged in as <strong>@(this.User.Identity.Name)</strong>.</p>

@(this.Html.Partial( "_ManagePartial", this.Model ))

@(this.Html.Partial( string.Format( "_{0}PasswordPartial", ( this.ViewBag.HasLocalPassword ? "Change" : "Set" ) ), this.Model ))

<section id="externalLogins">
    @(this.Html.Action( "RemoveExternalLogins" ))

    <h3>Add an external login</h3>
    @(this.Html.Action( "ExternalLoginsList", new {
          this.ViewBag.ReturnUrl
      } ))
</section>

@section Scripts {
    @Scripts.Render( "~/bundles/jqueryval" )
}