@model SimpleMembershipTest.Models.RegisterModel
@{
    this.ViewBag.Title = "Register";
}

<hgroup class="title">
    <h1>@(this.ViewBag.Title).</h1>
    <h2>Create a new account.</h2>
</hgroup>

@using ( this.Html.BeginForm() ) {
    @(this.Html.AntiForgeryToken())
    @(this.Html.ValidationSummary())

    <fieldset>
        <legend>Registration Form</legend>
        <ol>
            <li>
                @(this.Html.LabelFor( m => m.UserName ))
                @(this.Html.TextBoxFor( m => m.UserName ))
            </li>
            <li>
                @(this.Html.LabelFor( m => m.Password ))
                @(this.Html.PasswordFor( m => m.Password ))
            </li>
            <li>
                @(this.Html.LabelFor( m => m.ConfirmPassword ))
                @(this.Html.PasswordFor( m => m.ConfirmPassword ))
            </li>
            <li>
                @(this.Html.LabelFor( m => m.Email ))
                @(this.Html.TextBoxFor( m => m.Email ))
            </li>
            <li>
                @(this.Html.LabelFor( m => m.Facebook ))
                @(this.Html.TextBoxFor( m => m.Facebook ))
            </li>
            <li>
                @(this.Html.LabelFor( m => m.Age ))
                @(this.Html.TextBoxFor( m => m.Age ))
            </li>
            <li>
                @(this.Html.LabelFor( m => m.Rate ))
                @(this.Html.TextBoxFor( m => m.Rate ))
            </li>
            <li>
                @(this.Html.LabelFor( m => m.LastName ))
                @(this.Html.TextBoxFor( m => m.LastName ))
            </li>
            <li>
                @(this.Html.LabelFor( m => m.FirstName ))
                @(this.Html.TextBoxFor( m => m.FirstName ))
            </li>
        </ol>
        <input type="submit" value="Register" />
    </fieldset>
}

@section Scripts {
    @Scripts.Render( "~/bundles/jqueryval" )
}